<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中国建设银行积分链中心</title>
    <link th:href="@{styles/top.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <div class="menu">
        <div class="nav" >
            <ul >
                <li><img th:src="${'imgs/logo.png'}" style="width: 25px;height: 23px;float: left;padding: 8px"> </li>
                <li ><a  href="home" title="中国建设银行积分链中心" style="background-color: white;color: #00507C">首页</a> </li>
                <!--<li ><a  href="enterprise" title="企业中心">企业中心</a></li>
                <li ><a  href="person" title="个人中心">个人中心</a> </li>-->
                <li ><a  href="register" title="注册登录">注册登录</a> </li>
                <!--<li ><a  href="help" title="帮助说明">帮助说明</a> </li>-->
            </ul>
        </div>
    </div>
    <div class="mainbox">
        <div class="topimage">
            <img th:src="${'imgs/welcome3.jpg'}" style="height: auto;width: 100%;padding-bottom: 30px"></a>
        </div>
        <div class="introduction" style="text-align: center;color: grey">
            <h3 class="what is ccblock" style="font-size: 34px;font-weight: lighter;padding-bottom: 20px">CCBLOCK是什么</h3>
            <div class="ccblock" style="width: 100%;height:auto;padding-bottom:40px;text-align: left;">
                <p style="font-size: 18px;font-weight: lighter;padding-left: 80px;padding-right: 80px;width: 60%;margin: 0 auto">
                    中国建设银行致力打造全球合作商家积分区块化，实现商家、消费者和投资者积分兑换价值最大化的数字化区块链交易平台，CCBLOCK积分链中心便应运而生。
                    CCBLOCK是基于区块链技术的积分(数字资产)发行、管理和流通网络:任何企业和个人都可以便捷加入，成为资产方和渠道方，并轻松运用积分完成消费与交易。
                    精准联合生态圈内外企业、商户、渠道、发行方、个人消费者等社会角色，进行积分(数字资产)的发行、汇兑和管理，基于积分实现不同数字资产之间互通互换
                </p>
            </div>
            <img th:src="${'imgs/CCBLOCK2.jpg'}" style="width: 60%;height: 25%;padding-bottom: 20px">
            <div class="bc baidu" style="width: 200px;height: 40px;background-color: #00507C;text-align: center;margin: 0 auto;">
                <a href="https://baike.baidu.com/item/%E5%8C%BA%E5%9D%97%E9%93%BE/13465666?fr=aladdin" style="text-decoration: none" target="_blank">
                    <p style="text-align: center;font-size: 17px;color: white;line-height: 40px">点击了解区块链基础</p>
                </a>
            </div>
            <h3 class="why is ccblock" style="font-size: 34px;font-weight: lighter;padding-top:60px;padding-bottom: 20px">CCBLOCK技术规划方案</h3>
            <img th:src="${'imgs/home2.jpg'}" style="width: 70%;height: 30%;padding-bottom: 20px">
            <img th:src="${'imgs/icon/line.jpg'}" style="width: 100%">
            <div class="join us" style="width: 1000px;height: 400px;padding-top: 40px;margin: 0 auto;">
                <div class="peoplepicture" style="float: right;width: 50%;">
                    <img th:src="${'imgs/people.png'}" style="width: 500px;height: 323.3px;">
                </div>
                <div class="words" style="float: left;width: 50%;padding-top: 50px">
                    <h3 style="color: grey;font-size: 34px;text-align: left;font-weight: lighter;padding-bottom: 15px">加入CCBLOCK</h3>
                    <p style="font-weight: lighter;text-align: left;font-size: 16px;color: grey">前往您当地的建设银行服务网点办理注册</p>
                    <p style="font-weight: lighter;text-align: left;font-size: 16px;color: grey">或是在本站导航直接注册上链进入积分链</p><br>
                    <p style="font-weight: lighter;text-align: left;font-size: 16px;color: grey">您的企业不需要拥有庞大的社会规模</p>
                    <p style="font-weight: lighter;text-align: left;font-size: 16px;color: grey">您不需要是一位身世显赫的知名人仕</p><br>
                    <p style="font-weight: lighter;text-align: left;font-size: 16px;color: grey">任何角色、任何位置、任何身份，请加入我们</p>
                    <p style="font-weight: lighter;text-align: left;font-size: 16px;color: grey">携手共创美好未来，共同开启数字资产新纪元</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
        <p style="text-align: center;color: darkgrey;font-size: 12px;">
            相关连接跳转：
            <a href="http://www.ccb.com/cn/home/indexv3"  target="_blank" style="color:darkgrey;font-size: 12px">
                建设银行官方网站
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            联系我们：010-726726
            </p>
        <p style="text-align: center;color: darkgrey;font-size: 12px;">
            中国建设银行积分链中心地址：广州市天河区北环大道3号 &nbsp;&nbsp;  邮编：518170
        </p>
        <p style="text-align: center;font-size: 12px;color: darkgray">
            网站设计制作、管理：华南理工大学软件学院GXY团队
        </p>
        <p style="text-align: center;font-size: 12px;color: darkgray">
            2020 © 华南理工大学软件学院GXY团队版权所有
        </p>
    </div>
</body>
</html>