<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CCBLOCK-注册入链</title>
    <link th:href="@{styles/top.css}" rel="stylesheet" type="text/css">
    <script src="js/register_home.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
</head>

<body>
<div class="container">
    <div class="menu">
        <div class="nav" >
            <ul >
                <li><img src="imgs/logo.png" style="width: 25px;height: 23px;float: left;padding: 8px;"> </li>
                <li ><a  href="home" title="中国建设银行积分链中心">首页</a> </li>
                <!--<li ><a  href="enterprise" title="企业中心">企业中心</a></li>
                <li ><a  href="person" title="个人中心" >个人中心</a> </li>-->
                <li ><a  href="register" title="注册登录" style="background-color: white;color: #00507C">注册登录</a> </li>
            </ul>
        </div>
    </div>
    <div class="mainbox">
        <div class="topimage">
            <img th:src="${'imgs/register3.jpg'}" style="height: auto;width: 100%;padding-bottom: 20px">
        </div>
        <div class="introduction" style="text-align: center;color: grey">
            <div class="r">
                <h3 class="quickregister" style="font-size: 30px;font-weight: lighter;padding-bottom: 20px">轻松注册</h3>
                <div class="words" style="width: 100%;height:auto;padding-bottom:20px;text-align: center">
                    <p style="font-size: 16px;font-weight: lighter;text-align: center;padding-left: 80px;padding-right: 80px;padding-bottom: 6px">
                        点击下方按钮即可轻松注册进入CCBLOCK积分链，成为链上千万成员之一
                    </p>
                    <p style="font-size: 16px;font-weight: lighter;text-align: center;padding-left: 80px;padding-right: 80px;padding-bottom: 6px">
                        入链成功后，请谨记并保管您的用户名密码，其将成为您消费的身份凭证
                    </p>
                </div>
                <div class="clickregister" style="text-align: center;margin: 0 auto;">
                    <button style="width: 11%;height: 8%;font-size: 17px;cursor: pointer;line-height: 40px;background-color: #00517d;color: white;border: none" onclick="javascript:window.location.href='register/registerinside'">注册入链</button>
                </div>
                <img th:src="${'imgs/icon/line.jpg'}" style="width: 100%;padding-top: 20px">
            </div>
            <div class="start">
                <h3  style="font-size: 30px;font-weight: lighter;padding-bottom: 20px">CCBLOCK入口</h3>
                <div class="words" style="width: 100%;height:auto;padding-bottom:20px;text-align: center">
                    <p style="font-size: 16px;font-weight: lighter;text-align: center;padding-left: 80px;padding-right: 80px;padding-bottom: 6px">
                        点击下方按钮您将进入消费者中心
                    </p>
                    <p style="font-size: 16px;font-weight: lighter;text-align: center;padding-left: 80px;padding-right: 80px;padding-bottom: 6px">
                        当您进入后将处于活跃状态，您可以自由享受CCBLOCK的功能
                    </p>
                    <p style="font-size: 16px;font-weight: lighter;text-align: center;padding-left: 80px;padding-right: 80px;">
                        为了保证您的交易安全，请您切勿向任何人透露您的个人信息
                    </p>
                </div>
                <div class="clickstart" style="text-align: center;margin: 0 auto;">
                    <button style="width: 11%;height: 8%;font-size: 17px;cursor: pointer;line-height: 40px;background-color: darkred;color: white;border: none" onclick="javascript:window.location.href='person'">个人入口</button>
                </div>
                <img th:src="${'imgs/icon/line.jpg'}" style="width: 100%;padding-top: 20px">
            </div>

            </div>
        </div>
    </div>

</div>

<div class="footer">
    <p style="text-align: center;color: darkgrey;font-size: 12px;">
        相关连接跳转：
        <a href="http://www.ccb.com/cn/home/indexv3"  target="_blank" style="color: darkgrey;font-size: 12px">
            建设银行官方网站
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        联系我们：010-726726
    </p>
    <p style="text-align: center;color: darkgrey;font-size: 12px;">
        中国建设银行积分链中心地址：广州市天河区北环大道3号 &nbsp;&nbsp;  邮编：518170
    </p>
    <p style="text-align: center;font-size: 12px;color: darkgray">
        网站设计制作、管理：华南理工大学软件学院GXY团队
    </p>
    <p style="text-align: center;font-size: 12px;color: darkgray">
        2020 © 华南理工大学软件学院GXY团队版权所有
    </p>
</div>
</body>
</html>