<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CCBLOCK-个人积分查询</title>
    <link th:href="@{../styles/top.css}" rel="stylesheet" type="text/css">
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/person_function.js"></script>
    <!--<script>
        $(document).ready(function(){
            $.ajax({
                url : "http://localhost:8080/api/queryscore",//请求url
                dataType : "json",//后端传到前端的数据格式
                type : "get",//请求方式
                async : true,//是否异步请求
                success : function(data) {
                    $("#score_number").html(data.score_number);
                    //在html页面id=score_number的标签里显示内容
                },
                error:function(data){
                    alert("查询异常！")
                }
            })
        })
    </script>-->
</head>


<body style="background-image:url('../imgs/person_query_background.jpg');background-repeat: no-repeat;background-size: 100% 100%;">
<div class="container">
    <div class="menuu">
        <div class="navv" >
            <ul >
                <li><img src="../imgs/logo.png" style="width: 25px;height: 23px;float: left;padding: 8px"> </li>
                <li ><a  href="../person" >返回中心</a> </li>
                <li ><a  href="person_queryscore" style="background-color: white;color: #00507C" >积分查询</a></li>
                <li ><a  href="person_mall"  >积分商城</a> </li>
                <li ><a  href="person_presentscore"  >积分转赠</a> </li>
                <li ><a  href="person_history" >消息历史</a> </li>
            </ul>
        </div>
    </div>
    <div class="mainbox">
        <div class="center-in-center" style="margin: 0 auto;width: 20%;height: 35%;background-color:rgba(255,255,255,0.6);text-align: center;">
            <h2 style="padding-top: 30px;padding-bottom: 20px;color: dimgrey;font-weight: lighter">积分查询</h2>
                <input id="id" style="width: 75%;height: 14%;text-align: left;border: none" type="text" placeholder="请输入您的用户名" name="id" >
                <input id="password" style="width: 75%;height: 14%;text-align: left;border: none;margin-top: 20px;margin-bottom: 10px" type="password" placeholder="请输入您的密码" name="password">
                <button style="width: 40%;height: 12%;margin-top: 5px;cursor: pointer;;background-color: #00517d;color: white;border: none" onclick="showscoreP()">确定</button>
            <!--<input id="yourpublic" style="width: 75%;height: 12%;text-align: left;border: none" type="text" placeholder="您的公钥" >
            <input id="yourprivate" style="width: 75%;height: 12%;text-align: left;border: none;margin-top: 20px;margin-bottom: 10px" type="password" placeholder="您的私钥">
            <button style="width: 40%;height: 12%;margin-top: 15px;cursor: pointer;;background-color: #00517d;color: white;border: none" onclick="showscore()">确定</button>
            -->
        </div>
    </div>

</div>

<div class="footer" >
    <p style="text-align: center;color: darkgrey;font-size: 12px;">
        相关连接跳转：
        <a href="http://www.ccb.com/cn/home/indexv3"  target="_blank" style="color: darkgrey;font-size: 12px">
            建设银行官方网站
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        联系我们：010-726726
    </p>
    <p style="text-align: center;color: darkgrey;font-size: 12px;">
        中国建设银行积分链中心地址：广州市天河区北环大道3号 &nbsp;&nbsp;  邮编：518170
    </p>
    <p style="text-align: center;font-size: 12px;color: darkgray">
        网站设计制作、管理：华南理工大学软件学院GXY团队
    </p>
    <p style="text-align: center;font-size: 12px;color: darkgray">
        2020 © 华南理工大学软件学院GXY团队版权所有
    </p>
</div>
</body>
</html>