<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CCBMall-阿迪达斯</title>
    <link th:href="@{../../styles/top.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="menu">
        <div class="nav" >
            <ul >
                <li><img src="../../imgs/logo.png" style="width: 25px;height: 23px;float: left;padding: 8px"> </li>
                <li ><a  href="../../person" >个人中心</a> </li>
                <li ><a  href="../person_mall"  style="background-color: white;color: #00507C">返回商城</a> </li>
            </ul>
        </div>
    </div>
    <div class="mainbox">
        <div class="center-in-center" style="background-color:white;width: 500px;height: 200px;border-radius: 20px;text-align: center" >
            <p style="color: grey;font-size: 30px;text-align: center;font-weight: lighter;padding-top: 90px">品牌入驻正在筹备，敬请期待...</p>
        </div>
    </div>
</div>
<div class="footer">
    <p style="text-align: center;color: darkgrey;font-size: 12px;">
        相关连接跳转：
        <a href="http://www.ccb.com/cn/home/indexv3"  target="_blank" style="color: darkgrey;font-size: 12px">
            建设银行官方网站
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        联系我们：010-726726
    </p>
    <p style="text-align: center;color: darkgrey;font-size: 12px;">
        中国建设银行积分链中心地址：广州市天河区北环大道3号 &nbsp;&nbsp;  邮编：518170
    </p>
    <p style="text-align: center;font-size: 12px;color: darkgray">
        网站设计制作、管理：华南理工大学软件学院GXY团队
    </p>
    <p style="text-align: center;font-size: 12px;color: darkgray">
        2020 © 华南理工大学软件学院GXY团队版权所有
    </p>
</div>
</body>
</html>